
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.so
*.egg-info/
.env
.venv
venv/
ENV/
env/
*.log

.streamlit/
!.streamlit/config.toml

.vscode/
.idea/
.DS_Store
*.swp

*.csv
*.tmp
*.bak
*.db
*.sqlite
*.json
*.npy
*.npz

*.ipynb_checkpoints/
*.pdf
*.png
*.jpg
*.jpeg

# === builds / dist ===
build/
dist/
*.egg
*.manifest

.cache/
__pycache__/
.secrets.toml
